-# app/views/movies/_auto.html.haml
-# プレイヤー

#modal-overlay

	#modal-content
		%article
			.movie
				%iframe{src: %(https://www.youtube.com/embed/#{@movies.first.movie_id}?playlist=#{@movies.offset(1).pluck(:movie_id).join(',')}&enablejsapi=1&controls=1&color=white&disablekb=1&modestbranding=1&playsinline=1&rel=0&iv_load_policy=3&showinfo=1&autoplay=1)}

		%p.close-button#modal-close
			= fa_icon 'times'
			閉じる
