-# app/views/movies/_movie.html.haml
-# 動画ボックス

- if params[:page].present?
	- rank = (params[:page].to_i - 1) * 24 + movie_counter + 1
- else
	- rank = movie_counter + 1

%article.movie
	.inner
		-# 画像
		.image
			= link_to image_tag(movie.image, alt: "YouTube動画：#{movie.title}"), movie_path(movie), remote: true
		-# タイトル
		%h3.title
			= %(#{rank}位)
			= link_to movie.title, movie_path(movie), remote: true
		-# ユーザー情報
		.user-profile
			= link_to image_tag(movie.profile_image_url, width: 30, alt: "Twiiterユーザー：#{movie.user_name}"), %(https://twitter.com/#{movie.provide_name}), target: %(blank)
			%ul
				%li
					= link_to movie.user_name, %(https://twitter.com/#{movie.provide_name}), target: %(blank)
				%li
					= link_to %(@#{movie.provide_name}), %(https://twitter.com/#{movie.provide_name}), target: %(blank)
			.twitter-follow
				= link_to raw(%(#{fa_icon 'twitter lg'})), %(https://twitter.com/#{movie.provide_name}/status/#{movie.provide_id}), target: %(blank)
		-# ツイート本文
		%p
			= auto_link movie.body, html: {target: %(blank)}
		-# コントロール
		%ul.twitter-controll
			%li
				= link_to raw(%(#{fa_icon 'reply'})), %(https://twitter.com/intent/tweet?in_reply_to=#{movie.provide_id}), target: %(blank)
			%li
				= link_to raw(%(#{fa_icon 'retweet'})), %(https://twitter.com/intent/retweet?tweet_id=#{movie.provide_id}), target: %(blank)
			%li
				= link_to raw(%(#{fa_icon 'star'})), %(https://twitter.com/intent/favorite?tweet_id=#{movie.provide_id}), target: %(blank)
			%li
				%time{datetime: movie.created_at.to_datetime}
					= link_to time_diff(movie.created_at.to_datetime), %(https://twitter.com/#{movie.provide_name}/status/#{movie.provide_id}), target: %(blank)