-# app/views/movies/_player.html.haml
-# プレイヤー

%iframe{src: %(https://www.youtube.com/embed/#{@movie.movie_id}?enablejsapi=1&controls=1&color=white&disablekb=1&modestbranding=1&playsinline=1&rel=0&iv_load_policy=3&showinfo=1)}