-# app/views/movies/auto.html.haml
-# 動画自動再生詳細

- set_meta_tags site: %(インターネットテレビくん　KANJIZAITV), title: %(動画自動再生), description: %(動画自動再生ページ。)

%article.movies_show
	%h2
		動画自動再生
	%iframe{src: %(https://www.youtube.com/embed/#{@movies.first.movie_id}?playlist=#{@movies.offset(1).pluck(:movie_id).join(',')}&enablejsapi=1&controls=1&color=white&disablekb=1&modestbranding=1&playsinline=1&rel=0&iv_load_policy=3&showinfo=1&autoplay=1)}