-# app/views/movies/index.html.haml
-# 動画一覧


%section.movies
	.grid__col-sizer

	.grid__gutter-sizer
	= render @movies

.page-load-status
	.loader-ellips.infinite-scroll-request
		%span.loader-ellips__dot
		%span.loader-ellips__dot
		%span.loader-ellips__dot
		%span.loader-ellips__dot

= paginate @movies