-# app/views/movies/show.html.haml
-# 動画詳細

- set_meta_tags site: %(インターネットテレビくん　KANJIZAITV), title: @movie.title, description: %(#{@movie.title}の動画ページ。#{truncate(@movie.body, length: 120)}), keywords: get_keywords(@movie.title)

%article
	%h2
		= @movie.title
	%p
		= @movie.body
	= render %(player)