-# app/views/contacts/new.html.haml
-# お問い合わせ

.l-main-content
	.l-main-content__normal
		%article.p-contact
			%header.l-main-content__header
				%h1.l-main-content__header-title
					お問い合わせ
				%p.l-main-content__header-description
					当サービスへのお問い合わせは
					%br<>
					こちらからお願いします。
			
			#form
				= render %(form)