= "インターネットテレビくん ------------------------"
\
\
管理者 様
\
インターネットテレビくんウェブサイトよりお問い合わせがありました。
\
= "E-Mail　　：#{@contact.email}"
= "お名前　　：#{@contact.name}"
= "ご要望内容：#{@contact.body}"
\
\
\
\
\
※ 当メールはシステムから自動送信されております。
\
= "============================"
インターネットテレビくん
\
E-MAIL：info@kanjizai.tv
HP：https://kanjizai.tv
\
= "============================"