= "インターネットテレビくん ------------------------"
\
\
= "#{@contact.name} 様"
\
インターネットテレビくんへお問い合わせありがとうございます。
以下の内容でお問い合わせを承りました。
\
= "E-Mail　　：#{@contact.email}"
= "お名前　　：#{@contact.name}"
= "ご要望内容：#{@contact.body}"
\
\
\
\
\
※ 当メールはシステムから自動送信されております。
\
= "============================"
インターネットテレビくん
\
E-MAIL：info@kanjizai.tv
HP：https://kanjizai.tv
\
= "============================"