/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_directory .
 *= require_self
 */

@import 'reset';
@import 'mixins';


* {
	-webkit-font-smoothing: antialiased;
	box-siziing: border-box;
}


iframe {
	border:none;
}

body {
	background-color: #121212;
	// font-family: "Noto Sans Japanese", sans-serif;
	font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif;
	font-size: 90%;
	width: 100%;
}

a {
	color: #cccccc;
}

.error {
	color: #ffffff;
	padding: 15px;
}