// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';
@import url(//fonts.googleapis.com/css?family=Oswald);
@import url(//fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

.header {
	width:100%;
	position: fixed;
	background-color: #222222;
	z-index: 2000;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	background-image: linear-gradient(
    -45deg,
    rgba(255,255,255,0.01) 10%,
    #191919 10%, #191919 50%,
    rgba(255,255,255,0.01) 50%, rgba(255,255,255,0.01) 60%,
    #191919 60%, #191919
  );
  background-size:8px 8px;
	h1 {
		padding: 10px 15px;
		text-align: center;
		font-size: 1.2rem;
		font-family: 'Rounded Mplus 1c';
		font-weight: 800;
		img {
			height: 30px;
		}
		a {
			color: #ffffff;
			text-decoration: none;
		}
	}
	nav {
		position: absolute;
		top: 15px;
		right: 10px;
		// padding: 10px 15px;

		ul {
			vertical-align: center;
			li {
				font-weight: bold;
				padding-top: 2px;
				display: inline-block;
				font-size: 1.2rem;
				margin-left: 10px;
				a {
					text-decoration: none;
					color: #ffffff;
				}
			}
		}
	}
	@include clearfix;
}

.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}


.container {
	padding-top: 60px;
}

.twitter_link {
	position: fixed;
	bottom: 10px;
	right: 10px;
	@include min-screen($breakpoint-tablet) {
		bottom: 20px;
		right: 20px;
	}
	font-size: 2rem;
	z-index: 1000;
	a {
		color: rgba(255,255,255,0.8);
	}
	i {
		text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	}
}

.auto_link {
	position: fixed;
	bottom: 10px;
	right: 50px;
	@include min-screen($breakpoint-tablet) {
		bottom: 20px;
		right: 60px;
	}
	font-size: 2rem;
	z-index: 1000;
	a {
		color: rgba(255,255,255,0.8);
	}
	i {
		text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	}
}

// 動画リスト
section.movies {

	margin:0 auto;
	width: 100%;
	article.movie {
		background: #ffffff;
		padding: 5px;
		margin-bottom: 10px;
		width: 100%;
		@include min-screen($breakpoint-mobile) {
	    width: 100%;
	  }
	  @include min-screen($breakpoint-tablet) {
	    width: 240px;
	  }
	  @include min-screen($breakpoint-pc) {
	    width: 240px;
	  }
	  .inner {
	  	height: 100%;
	  	background: #ffffff;
	  }
		.image {
			border:#eeeeee solid 1px;
			
			img {
				width: 100%;
				display: block;
				min-height: 173px;
				@include min-screen($breakpoint-mobile) {
			    min-height: 204px;
			  }
			  @include min-screen($breakpoint-tablet) {
			    min-height: 128px;
			  }
			  @include min-screen($breakpoint-pc) {
			    min-height: 128px;
			  }
			}
		}
		h3.title {
			font-size:1.1rem;
			margin:5px 0;
			color: #222222;
			border-radius: 2px;
			padding:5px 10px;
			border-bottom:none;
			line-height: 120%;
			font-family: 'Oswald', Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
			font-weight: bold;
			word-break:break-all;
			a {
				color:#333333;
				text-decoration: none;
				&:hover {
					color:#666666;
				}
			}
		}
		p {
			font-size: 0.75rem;
			line-height: 160%;
			letter-spacing: 0.08em;
			color: #999999;
			padding: 0;
			word-break: break-all;
			padding: 5px;
		}
		.user-profile {
			font-size: 12px;
			padding: 5px;
			position: relative;
			ul {
					margin: 0;
					padding: 0;
					float: left;
					line-height: 140%;
				li {
					margin: 0;
					padding: 0;
					a {
						color: #999999;
						text-decoration: none;
					}
				}
			}
			img {
				float: left;
				margin-right: 10px;
				border-radius: 15px;
			}
			.twitter-follow {
				position: absolute;
				right: 0;
				top: 5px;
				padding: 7px;
				font-size:16px;
				a {
					color: #eeeeee;
				}
			}
			@include clearfix;
		}
		.twitter-controll {
			list-style: none;
			padding: 5px;
			margin: 0;
			li {
				display: inline-block;
				font-size: 11px;
				a {
					color: #999999;
					text-decoration: none;
				}
			}
		}
	}
}

// モーダルウィンドウ
#modal-overlay {
	z-index: 2500;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.75);
	overflow: auto;
	cursor: pointer;
	#modal-content {
		cursor: default;
		position: absolute;
		width: 100%;
		@include min-screen($breakpoint-mobile) {
	    width: 100%;
	  }
	  @include min-screen($breakpoint-tablet) {
	    width: 90%;
	  }
	  @include min-screen($breakpoint-pc) {
	    width: 80%;
	  }
		z-index: 2000;
		background: #000000;
		padding: 10px 10px 0 10px;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
		h2 {
			font-weight: normal;
			margin-bottom: 5px;
		}
		.close-button {
			text-align: right;
			padding: 5px 0 10px 0;
			margin: 5px 0 0 0;
			font-size: 0.8rem;
			cursor: pointer;
			font-weight: normal;
			color: #999999;
			a {
				text-decoration: none;

			}
		}
		.movie {
			height: 0;
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			iframe {
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
			li {
				display: inline-block;
				margin: 5px;
			}
		}
	}
}

.pagination {
	display: none;
}

.are-images-unloaded {
	opacity: 0;
}

.grid__col-sizer {
  width: 100%;
	@include min-screen($breakpoint-mobile) {
    width: 100%;
  }
  @include min-screen($breakpoint-tablet) {
    width: 240px;
  }
  @include min-screen($breakpoint-pc) {
    width: 240px;
  }
}

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  text-align: center;
  color: #777;
}

.loader-ellips {
  font-size: 12px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: rgba(255,255,255,0.3); /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

.grid__gutter-sizer {
	width: 1%;
}

article.movies_show {
	h2 {
		color: #ffffff;
		padding: 10px;
		margin: 0;
		font-size: 1rem;
	}
	p {
		color: #ffffff;
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}
