-# app/views/policies/privacy/index.html.haml
-# プライバシー

- set_meta_tags site: %(amidaTV（アミダTV）), title: %(プライバシーポリシー), description: %(amidaTV（アミダTV）プライバシーポリシーページ。), canonical: request.original_url

%section.privacy
	%h2
		プライバシーポリシー
	%h3
		当サイトが使用しているアクセス解析ツールについて
	%p
		当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
		%br<>
		このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
		%br<>
		このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
		%br<>
		この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。
		%br<>
		この規約に関して、詳しくは
		= link_to %(こちら), %(http://www.google.com/analytics/terms/jp.html)
		、または
		= link_to %(こちら), %(https://www.google.com/intl/ja/policies/privacy/partners/)
		をクリックしてください。
		%br<>

	%dl
		%dt
			運営者
		%dd
			株式会社トヤソフト
		%dt
			EMAIL
		%dd
			info@toyasoft.com
		%dt
			初掲載
		%dd
			2017年10月8日