-# app/views/policies/terms/index.html.haml
-# インターネットテレビくんについて

- set_meta_tags site: %(インターネットテレビくん), title: %(インターネットテレビくんについて), description: %(インターネットテレビくんご利用においてお読みください。), canonical: request.original_url

%section.about
	%h2
		インターネットテレビくんについて
	%p
		インターネットテレビくんとはTwitterタイムラインを利用した実験的インターネットテレビアプリケーションです。
		%br<>
		TwitterタイムラインAPIにより提供されたYoutube動画を24時間区切りでランキングしています。
		%br<>
    実験的アプリケーションですので、どなたでもご自由に無料でご覧いただけます。
    %br<>
    APIを提供してくださっているTwitter、勝手にフォローさせていただいている皆様に感謝します。
		%br<>
		公式ツイッターBotではトップツイートを随時更新ツイートしています。
		%br<>
		%br<>
		公式Twitter：
		= link_to %(@kanjizaitv), %(https://twitter.com/kanjizaitv), target: %(blank)
		%br<>
		%br<>
	%h3
		ご利用方法
	%p
		= link_to %(トップページ), root_path
		より現在のリアルタイムトレンドランキングをご覧いただけます。
		%br<>
		画像又は、タイトルをクリックするとYouTube動画をご視聴できます。
		%br<>
		%br<>
	%h3
		お問い合わせ
	%p
		ご意見、ご要望等は
		= link_to %(お問い合わせフォーム), new_contact_path
		よりお問い合わせください。