-# app/views/layouts/meta_tags.html.haml

%meta{charset: 'UTF-8'}
%meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
%meta{"http-equiv" => "content-language", content: "ja"}
%link{media: 'handheld', rel: 'alternate', href: request.original_url}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
= favicon_link_tag '/favicon.ico'
= display_meta_tags default_meta_tags