-# app/views/layouts/application.html.haml

!!!
%html{lang: 'ja'}
	%head
		-# タイトル
		= render 'layouts/meta_tags'
		= csrf_meta_tags

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

		<!--[if lt IE 9]>
		= javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "data-turbolinks-track" => true
		= javascript_include_tag "https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js", "data-turbolinks-track" => true
		= javascript_include_tag "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js", "data-turbolinks-track" => true
		<![endif]-->

		-# Googleアクセス解析
		- if Rails.env.production?
			= render 'layouts/analytics'

	%body
		%header.header.headroom
			
			%h1
				= link_to image_tag(%(kanjizaitv.png), alt: %(インターネットテレビくん - KANJIZAITV - 話題のYouTube動画をリアルタイムにランキング)), root_path
			-#
				%nav
					%ul
						
						%li
							= link_to raw(%(#{fa_icon 'youtube-play'})), auto_movies_path, remote: true
						%li
							= link_to raw(%(#{fa_icon 'twitter'})), %(https://twitter.com/kanjizaitv), target: "_blank"
					
		.container
			= yield
		
		.auto_link
			= link_to raw(%(#{fa_icon 'play-circle'})), auto_movies_path, remote: true
		.twitter_link
			= link_to raw(%(#{fa_icon 'twitter'})), %(https://twitter.com/kanjizaitv), target: "_blank"